@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="col-md-6">
        <div class="content-wrapper">
           <!--
 <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
-->
            <div class="mainContent">
            
                <h1>Welcome to Melee.Me. <br /> The only social battle site around!</h1> 
                <h2>Sign in with Twitter.</h2>
				<h2>Link up your other social accounts.</h2> 
				<h2><strong>Battle your friends for social supremacy!</strong></h2>
            </p>
            </div>
        </div>
    </section>
}
@section subcontent {
 			<div class="col-md-4">
		    	<div class="home-icon"><img src="../../Content/images/chat_icon.png" alt="chat_icon" width="91" height="91"></div>
		    	<h3>Prove Your Social Worth</h3>
		    	<p>Nulla tincidunt semper lorem. Nulla tincidunt semper lorem. Nunc vitae urna eget mi convallis iaculis. Ut tincidunt ullamcorper lectus. Integer interdum, nisi ac sollicitudin rhoncus, quam nisl mollis enim, eget condimentum erat purus eu orci. </p>
	    	</div>
	    	<div class="col-md-4">
		    	<div class="home-icon"><img src="../../Content/images/bullseye_icon.png" alt="bullseye_icon" width="91" height="91"></div>
		    	<h3>Destroy Your Friends</h3>
		    	<p>Nulla tincidunt semper lorem. Nulla tincidunt semper lorem. Nunc vitae urna eget mi convallis iaculis. Ut tincidunt ullamcorper lectus. Integer interdum, nisi ac sollicitudin rhoncus, quam nisl mollis enim, eget condimentum erat purus eu orci. </p>
	    	</div>
	    	<div class="col-md-4">
		    	<div class="home-icon"><img src="../../Content/images/trophy_icon.png" alt="trophy_icon" width="91" height="91"></div>
		    	<h3>Earn badges & accolades</h3>
		    	<p>Nulla tincidunt semper lorem. Nulla tincidunt semper lorem. Nunc vitae urna eget mi convallis iaculis. Ut tincidunt ullamcorper lectus. Integer interdum, nisi ac sollicitudin rhoncus, quam nisl mollis enim, eget condimentum erat purus eu orci. </p>
	    	</div>


}