@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="col-md-6">
        <div class="content-wrapper">
            <div class="mainContent">
                <h1>Welcome to Melee.Me. <br /> The only social battle site around!</h1> 
                <h2>Sign in with Twitter.</h2>
				<h2>Link up your other social accounts.</h2> 
				<h2><strong>Battle your friends for social supremacy!</strong></h2>
            </div>
        </div>
    </section>
}
@section subcontent {
 			
	    	<div class="col-md-3">
		    	<div class="home-icon"><img src="../../Content/images/bullseye_icon.png" alt="bullseye_icon" width="91" height="91"></div>
		    	<h3>Destroy Your Friends</h3>
		    	<p>Invite and battle your friends and show them who is the true leader of the social pack. Send out a challenge, set your battle plan and share the results, so the entire world knows your dominance.</p>
	    	</div>
	    	<div class="col-md-1"></div>
	    	<div class="col-md-3">
		    	<div class="home-icon"><img src="../../Content/images/chat_icon.png" alt="chat_icon" width="91" height="91"></div>
		    	<h3>Prove Your Social Worth</h3>
		    	<p>Do you brag about number of followers? Do you retweet retweets? Do you hashtag everything? Is the "Like" button the first thing you build into your websites? Show all the haters that the work is worth it and crush them on the Melee.Me battleground. </p>
	    	</div>
	    	<div class="col-md-1"></div>
	    	<div class="col-md-3">
		    	<div class="home-icon"><img src="../../Content/images/trophy_icon.png" alt="trophy_icon" width="91" height="91"></div>
		    	<h3>Earn Badges & Accolades</h3>
		    	<p>You deserve recognition for all your hard social work. Win enough matches, unlock secrets and receive plaudits. Sure they're just digital, but how awesome does it feel to get really cool badges? It feels amazing. Yes, indeed.</p>
	    	</div>


}