@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="jumbotron">
        <div class="content-wrapper">
           <!--
 <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
-->
            <div class="mainContent">
            
                <h2>Welcome to Melee.Me, the only social battle site around! </h2> 
                <p>Are you ready to have your social
                awesomeness tested? ARE YOU READY?! Yeah you are!
            </p>
            </div>
        </div>
    </section>
}
<div class="rules">
<h3>Rules of engagement:</h3>
<ul class="round">
    <li class="heading">
        1.  You must have a valid twitter account.
    </li>
    <li class="heading">
        2.  You can only battle once per day.
    </li>
    <li class="heading">
        3.  Not sure what to put here but I'll think of something.
    </li>
</ul>
</div>
